settings.xml
/target/
/logs/
/storage/
*.log
*.csv
*.data
*.idea
/.idea
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
models_funding/Funding_Classifier_Final.onnx
